<div class="row" style="margin-top: 1%;">
    <div class="col-4" >
        <h1 class="row display-4">Generate Visualization</h1>

        <form th:action="@{/visualizations}" method="post">
            <label>Select Features:</label>
            <div th:each="feature : ${features}">
                <input type="checkbox" name="features" th:value="${feature}" /> <span th:text="${feature}"></span><br>
            </div>
            <br>
            <label for="plotType">Select Plot Type:</label>
            <select name="plotType" id="plotType" class="form-control" required>
                <option th:each="plot : ${plotTypes}" th:value="${plot}" th:text="${plot}"></option>
            </select>
            <br>
            <label for="modelType">Select Model Type:</label>
            <select name="modelType" id="modelType" class="form-control" required>
                <option th:each="type : ${modelTypes}" th:value="${type}" th:text="${type}"></option>
            </select>
            <br>
            <button type="submit" class="btn btn-primary">Generate Visualization</button>
        </form>
    </div>

    <div class="col-8">
        <div th:if="${imageData}" style="max-height: 40%; max-width: 40%">
            <h2>Visualization Result:</h2>
            <img th:src="@{'data:image/png;base64,' + ${imageData}}" alt="Visualization Image"/>
        </div>
    </div>
</div>
<div class="row" style="display: flex; flex-direction: column; align-items: center; margin-top: 1%">
    <div th:if="${previousSearches}">
        <h2>Your Previous Searches:</h2>
        <ul>
            <li th:each="search : ${previousSearches}">
                <span>Features: <span th:text="${search.Input}"></span></span>,
                <span>Plot Type: <span th:text="${search.plotType}"></span></span>,
                <span>Model Type: <span th:text="${search.modelType}"></span></span>
                <button type="button" onclick="populateForm([[${search.features}]], '[[${search.plotType}]]', '[[${search.modelType}]]')">
                    Use This Search
                </button>
            </li>
        </ul>
    </div>

    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

</body>
</html>