<footer class="mt-xl-5 py-3" style="background-color: #FF006C; color: white">
  <div class="container">
    <div class="row">
      <div class="col-2">

      </div>
      <div class="col-4" style="display: flex; flex-direction: column; align-items: center;">
        <h5>About</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <p class="mb-0">
          We are a group of students who used Explainable AI in order to detect food fraud
          in the countries all over the world. </p>
      </div>
      <div class="col-4" style="display: flex; flex-direction: column; align-items: center;">
        <h5>Contact</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope mr-2"></i> ftb@finki.com</li>
          <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
        </ul>
      </div>
      <div class="col-2">

      </div>
    </div>
    <div class="row" style="display: flex; flex-direction: column; align-items: center; margin-top: 3%;">
      <p style="text-align: center">Finki Copyright &reg;</p>
    </div>
  </div>
</footer>